{% extends 'gestion_legal/base.html' %}

{%block titulo%} Alta de clientes {%endblock%}

{%block header%}Pagina de alta de clientes {%endblock%}


{%block main%} 
    <form action="">
        <label for="">nombre y apellido: </label> <input type="text" name="" id=""><br>

        <label for="">Dni: </label> <input type="text" name="" id=""> <br>

        <label for="">Expediente: </label> <input type="text" name="" id=""><br>

        <label for="">Email: </label> <input type="text" name="" id=""><br>

        <label for="">Fecha de ingreso: </label> <input type="text" name="" id=""><br>
    </form>
{%endblock%}

