{% extends 'gestion_legal/base.html' %}

{%block titulo%} Servicios {%endblock%}

{%block header%}Pagina de servicios {%endblock%}


{%block main%}
<form action="">
    <label for="">Expendientes: </label> <input type="text" name="" id=""><br>

    <label for="">Prestaciones: </label> <input type="text" name="" id=""> <br>

    <label for="">Precio: </label> <input type="text" name="" id=""><br>

    <label for="">Estado: </label> <input type="text" name="" id=""><br>

    <label for="">Asignado a: </label> <input type="text" name="" id=""><br>
</form>
{%endblock%}